* {
    background-color: black;
}
#title {
    color: red;
    background-color: black;
    text-align: center;
    font-size: 88px;
    font-weight: bolder;
}
.one {
    color: red;
    background-color: black;
    font-size: 36px;
    font-weight: 500;
}
.page {
    background-color: black;
    color: blue;
}